In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c', 3: 'd', 4: 'e'},
                   'B': {0: 8, 1: 3, 2: 5, 3: 7, 4: 2},
                   'C': {0: 2, 1: 4, 2: 6, 3: 0, 4: 5}})

In [14]:
df

   A  B  C
0  a  8  2
1  b  3  4
2  c  5  6
3  d  7  0
4  e  2  5

In [15]:
from itertools import combinations

cc = list(combinations(df.index, 2))

In [18]:
def dist(s1, s2):
    return {"pair":tuple(sorted([s1.A, s2.A])), "dist":(s1.B + s2.B)}
starDistances = pd.DataFrame(dist(df.loc[c[0]], df.loc[c[1]]) for c in cc).sort_values('dist')

In [19]:
num_stars = len(stars)

distances = [0,0,0]
for i in range(num_stars):
    for j in range(i+1, num_stars):
        distances[0] =